<!-- Portfolio Item Heading -->
<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row home-description">
      <h3 class="center">Why use Open Home Tracker</h2>
      <br/>
      <div class="col s12 m4">
        <div class="icon-block center">
          <%= image_tag "for-rent.png" %>
          <h5 class="center">No fee for<br/> landlord or tenant</h5>

          <p class="light center">Whether you’re a buyer, seller or home owner; there’s more free data to help you decide what it’s worth than any other site in New Zealand.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block center">
          <%= image_tag "notification.png" %>
          <h5 class="center">Manage open home <br/>with real-time data</h5>

          <p class="light center">Whether you’re a buyer, seller or home owner; there’s more free data to help you decide what it’s worth than any other site in New Zealand.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block center">
          <%= image_tag "stats.png" %>
          <h5 class="center">Know more about <br/>your candidates</h5>

          <p class="light center">Whether you’re a buyer, seller or home owner; there’s more free data to help you decide what it’s worth than any other site in New Zealand.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section home-action-section">
  <div class="container">
    <div class="row center">
      <h5 class="center">Got a open home coming?</h5>
      <br/>
      <a class="waves-effect waves-light btn">List your open home now</a>
    </div>
  </div>
</div>

  <!-- /.row -->
