<%= render "devise/shared/user_header" %>

<div class="container page-container">

  <h2>User details for: <%= current_user.first_name %></h2>


  <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <label for="first_name">First Name</label>
            <h3><%= @user.first_name %></h3>
          </div>
        </div>
      </form>
    </div>


</div>
