<div class="header-image new-header">
 <div class="header-text">
   <div class="text-content">
     Add your property for open home
   </div>
   <a class="waves-effect waves-light btn">How it works</a>
 </div>
</div>
