<div class="footer-copyright">
  <div class="container">
  © 2017 Open Home Tracker, All rights reserved.
  <a class="grey-text text-lighten-4 right" href="http://design4u.co.nz/">Made with <i class="fa fa-heart" aria-hidden="true"></i> in Wellington</a>
  </div>
</div>
