<nav class="nav-extended">
   <div class="nav-wrapper">
     <a href="/" class="brand-logo"><%= image_tag "logo.png" %></a>
     <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/properties">Add a open home</a></li>
        <li><a href="#">Search property</a></li>
        <% if user_signed_in? %>
          <li>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>
          </li>
        <% end %>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">Add a open home</a></li>
        <li><a href="#">To Rent</a></li>
        <li><a href="#">Sign In</a></li>
      </ul>
   </div>
 </nav>

 <div class="header-image">
   <div class="header-text">
     <div class="text-content">
       Track your open home with a click
     </div>
     <a class="waves-effect waves-light btn">How it works</a>
   </div>
 </div>
